{% extends 'poison/base.html' %}

{% block content %}

<section class="news">
        <div class="container">
            <div class="leftbar">
                <ul class="category">
                    {% if cat_selected == 0 %}
                    <li class="years">all years</li>
                    {% else %}
                    <li><a href="{% url 'news' %}">all years</a></li>
                    {% endif %}

                    {% for c in cats %}
                        {% if c.news__count > 0 %}  {# если кол-во новостей в рубрике > 0 #}
                            {% if c.pk == cat_selected %}
                            <li class="selected">{{c.name}}</li>
                            {% else %}
                            <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="content-news">
                <ul class="list-articles">
                {% for p in posts %}
                <li>
                    <div class="article-top">
                        <p class="cats-name">Years: {{p.cat}}</p>
                        <p class="cats-date">Date: {{ p.time_create|date:'d-m-Y' }}</p>
                    </div>
                    {% if p.photo %}
                        <img src="{{p.photo.url}}" alt="">
                    {% endif %}
                    <h2>{{p.title}}</h2>
                    <p>{{p.content|linebreaks|truncatewords:50}}</p>
                    <p class="read-post"><a href="{{ p.get_absolute_url }}">Read news >></a></p>
                </li>
                {% endfor %}
                </ul>
                <!-- Pages Navigation -->
                {% if page_obj.has_other_pages %}
                <div class="num-pages">
                <ul>
                    <!-- Previous Page List -->
                {% if page_obj.has_previous %}
                    <li class="page-num"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                    {% endif %}

                        {% for p in paginator.page_range %}
                            {% if page_obj.number == p %}
                            <li class="page-num page-num-selected">{{ p }}</li>
                            {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
                            <li class="page-num">
                                <a href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}
                    <!-- Next Page List -->
                    {% if page_obj.has_next %}
                    <li class="page-num"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            <!-- End Pages Navigation -->
            </div>
        </div>
</section>


{% endblock %}